<form action="/dashboard/addcity" method="POST">
  <div class="field">
    <label class="label">City Name</label>
    <input class="input" type="text" placeholder="Enter City Name" name="cityName" />
  </div>
  <button class="button is-link">Add City</button>
</form>