<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Street</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    {{#each city.venues}}
      <tr>
        <td>
          {{venueName}}
        </td>
        <td>
          {{street}}
        </td>
        <td>
          {{genre}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>